.container-fluid {
  margin-top: -2rem;
  background-color: aquamarine;
  max-width: 100%;
  height: 100vh;
}
.container {
  font-family: sans-serif;
  font-size: 20px;
  width: auto;
  margin: auto;
  text-align: center;
}
.works {
  display: flex;
  flex-wrap: wrap;
}
.work-list {
  width: 20%;
  padding: 1rem;
  list-style: none;
  border-radius: 50px;
  margin-bottom: 1rem;
  border: 2px solid transparent;
}
.work-list:hover {
  border: 2px solid red;
}
.work-link {
  text-decoration: none;
}
.title {
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;
}
