$primary-yellow-colour: #fce38a;
$primary-text-colour: #fff;
$secondary-text-colour: #333;
$three-text-colour: #999;
$primary-bgnd-colour: #95e1d3;
$primary-red-colour: #f38181;
$primary-light-colour: #e5e5e5;
$secondary-light-colour: #ccc;
$start-gradient-colour: #ef8a8a;
$end-gradient-colour: #e7d082;

$hero-font: "Montserrat", bold, sans-serif;
$title-font: "Montserrat", sans-serif;
$subtitle-font: "Kaushan Script", sans-serif;
$title-text-font: "Roboto", italic;
$text-font: "Roboto";
