* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1200px;
  margin: auto;
  padding: 15px;
}
.menu-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo {
  width: 100px;
}
.menu {
  display: flex;
  width: 500px;
}
.menu-item {
  list-style: none;
  padding: 0 25px;
}
.menu-link{
  font-size: 14px;
  text-decoration: none;
  font-family: "Montserrat";
  color: #95e1d3;
  text-transform: uppercase;
  transition: opacity, color 0.4s linear;
}
.menu-link:hover{
  color: #f38181;
}
.menu-link:after{
  content: "";
  margin-top: 10px;
  transition: width 0.4s;
  border-bottom: 4px solid #f38181;
  width: 0;
  display: block;
}
.menu-link:hover::after{
  width: 100%;
}
.tegline {
  margin: 100px 0 30px;
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  text-align: center;
}
.title {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.title:after {
  content: "";
  background-color: #f38181;
  height: 4px;
  width: 52px;
  margin: 42px auto;
  display: block;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content-box {
  position: relative;
  width: 380px;
  height: 130px;
  margin: 0 10px;
}
.content-box-img {
  position: absolute;
  top: 10px;
  left: 20px;
}
.content-text {
  position: absolute;
  top: 10px;
  left: 82px;
  width: 260px;
}
.box-title {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 10px;
}
.text-box {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  text-align: left;
}
.info-text {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  text-align: center;
  width: 950px;
  margin: 0 auto 90px;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social-profile {
  position: relative;
  height: 600px;
}
.modal {
  position: absolute;
  overflow: visible;
  width: 380px;
  height: 470px;
  background: linear-gradient(180deg, #ef8b8a, #e7d082);
  opacity: 1;
  top: -10px;
  left: -10px;
  opacity: 0;
  transition-duration: .4s;
}
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  top: 208px;
  left: 64px;
  opacity: 0;
  transition-duration: .4s;
}
.social-profile:hover .modal {
  opacity: 0.9;
}
.social-profile:hover .social-icons {
  opacity: 1;
}
.sc-ico-pick {
  background: #fce38a;
  width: 56px;
  height: 56px;
  border: none;
  margin: 0 1px;
  cursor: pointer;
}
.social-name {
  margin: 38px 0 20px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  text-align: center;
}
.social-position {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  text-align: center;
}
.bot {
  padding: 28px;
  border-top: 1px solid #e5e5e5;
}
.info {
  display: flex;
  justify-content: space-between;
}
.form-submint {
  width: 500px;
}
