* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 900px;
  margin: auto;
  padding: 60px 0;
  /* background-color: gray; */
}

.list {
  width: auto;
  list-style: none;
  text-align: center;
  width: 900px;
}

.list-element {
  display: inline-block;
  margin-bottom: 30px;
}

.list-link {
  display: block;
  width: 150px;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
}

.list-link:hover {
  color: blue;
}

.body {
  font-size: 0px;
}
.box {
  width: calc(50% - 30px);
  display: inline-block;
  margin-bottom: 100px;
  text-align: center;
}
.box-mr {
  margin-right: 60px;
}
.box-text {
  margin-bottom: 15px;
  width: 400px;
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
}
.box-img {
  padding-bottom: 20px;
}
.subtitle {
  margin-bottom: 15px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
}

.title {
  font-family: serif;
  font-size: 30px;
  color: rgb(98, 98, 98);
  line-height: 1.2;
}

.button {
  text-align: center;
}
.btn {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  padding: 25px;
}
