* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 940px;
  margin: auto;
  padding-top: 20px;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.menu {
  display: flex;
  width: 50%;
}
.menu-item {
  list-style: none;
  padding: 0 18px;
}
.menu-link {
  font-size: 14px;
  font-family: "Montserrat";
  color: #222;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.menu-link:hover {
  color: #fedd6c;
}
.title {
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 16px;
  font-family: "DroidSerif";
  color: rgb(119, 119, 119);
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}
.card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: auto;
  height: 250px;
}
.card-img {
  margin-bottom: 30px;
}
.card-title {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.card-text {
  font-size: 14px;
  font-family: "RobotoSlab";
  color: rgb(119, 119, 119);
  text-align: center;
}

.background {
  position: relative;
  width: auto;
  background-color: #222;
  height: 626px;
}
.background-img {
  transform: translate(100%, 25%);
}
.interaction-text {
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.icn-title {
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.icn-subtitle {
  font-size: 16px;
  font-family: "DroidSerif";
  color: rgb(119, 119, 119);
  font-style: italic;
  text-align: center;
}
.interaction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  height: 216px;
  position: absolute;
  top: 256px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.input {
  width: 456px;
  height: 54px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-radius: 5px;
}
.input-area {
  resize: none;
  width: 456px;
  height: 214px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.input-area::placeholder{
  margin: 15px;
}
.interaction input[type="email"]:invalid,
.interaction input[type="text"]:invalid {
  border-color: #900;
}
.interaction input[type="email"]:valid,
.interaction input[type="text"]:valid {
  border-color: #090;
}
.submint {
  align-self: flex-end;
}
.button {
  display: flex;
  justify-content: center;
}
.submint {
  background-color: #fed136;
  border-radius: 5px;
  border-color: #fed136;
  width: 240px;
  height: 66px;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
