* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1100px;
  margin: auto;
  padding: 15px;
}

.logo-img {
  float: left;
}
.menu{
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  
}
.menu-item {
  list-style: none;
  float: right;
}
.menu-link:hover {
  color: #1abc9c;
}
.menu-link {
  margin: 25px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "OpenSans";
  font-weight: bold;
  line-height: 0.786;
}

.card-box {
  font-size: 0;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 70px 0;
  text-align: center;
}
.title:after {
  content: "";
  background-color: #1abc9c;
  width: 134px;
  height: 7px;
  display: block;
  margin: 20px auto;
}
.card {
  float: left;
  width: 250px;
  margin: 0 10px 20px;
}

.card-link {
  display: block;
  text-decoration: none;
}
.card-link:hover .text-info {
  background: #1abc9c;
}
.card-img {
  width: 250px;
  /* overflow: hidden; */
}
.text-info {
  color: #fff;
  background: #000;
  text-transform: uppercase;
  width: 200px;
  font-size: 20px;
  float: left;
  padding: 5px 0;
  margin-top: -4px;
}

.price {
  background: #999;
  width: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  float: right;
  padding: 5px 0;
  margin-top: -4px;
}
.news-card {
  float: left;
  margin: 0 5px;
  width: 350px;
}
.news-title {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.444;
}
.news-title:after {
  content: "";
  background-color: #1abc9c;
  width: 134px;
  height: 7px;
  display: block;
  margin: 20px 0;
}
.link-news {
  text-decoration: none;
}
.news-text {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
.btn-news {
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  padding: 15px;
  font-size: 16px;
  font-family: "OpenSans";
  line-height: 1.625;
  text-align: center;
}
