* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1100px;
  padding: 15px;
}
.menu-size {
  width: 320px;
  display: inline-block;
}

.menu {
  display: inline-block;
  width: 750px;
  text-align: right;
  list-style: none;
  margin-bottom: 50px;
}
.menu-item {
  display: inline-block;
  text-transform: uppercase;
}
.menu-link {
  text-decoration: none;
  margin-right: 30px;
  color: #000;
}
.menu-link:hover {
  color: #1abc9c;
}
.card-box {
  font-size: 0px;
}
.title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 30px;
}
.title:after {
  content: "";
  background-color: #1abc9c;
  width: 134px;
  height: 7px;
  display: block;
  margin: 20px auto;
}
.card {
  display: inline-block;

  margin: 0 10px;
  margin-bottom: 25px;
}
.card-img {
  width: 250px;
  display: block;
  /* margin: 0 15px; */
}
.card-link {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;

  color: #fff;
  font-family: sans-serif;
}
.text-info {
  display: inline-block;
  background-color: #000;
  width: 201px;
}
.price {
  display: inline-block;
  font-size: 20px;
  background-color: #999;
  font-family: sans-serif;
  padding: 0 5px;
}
.card-link:hover .text-info {
  background: #1abc9c;
}
.news-card {
  width: 330px;
  display: inline-block;
  margin: 0 15px;
}

.news-title {
  font-size: 16px;
  font-family: sans-serif;
  color: #000;
}
.news-title:after {
  content: "";
  background-color: #1abc9c;
  width: 100px;
  height: 6px;
  display: block;
  margin: 10px 0;
}
.news-text {
  font-size: 12px;
  font-family: sans-serif;
}
.link-news{
    text-decoration: none;
}
.btn-news{
background: #1abc9c;
padding: 15px;
}
