.content__subtitle {
    font-size: 24px;
    font-family: $subtitle-font;
    color: $secondary-text-colour;
    text-align: center;
  }
  .content__title {
    font-size: 30px;
    font-family: $hero-font;
    color: $secondary-text-colour;
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: "";
      border-bottom: 4px solid $primary-red-colour;
      width: 4rem;
      margin: auto;
      display: block;
      margin-top: 44px;
    }
  }