.hero-block {
    margin: auto;
    margin-bottom: 7rem;
  }
  .hero-block__subtitle {
    font-size: 72px;
    font-family: $subtitle-font;
    color: $primary-text-colour;
    text-align: center;
    margin: 0;
  }
  .hero-block__title {
    font-size: 150px;
    font-family: $hero-font;
    color: $primary-text-colour;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 68%;
  }