.menu-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 13rem;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu__item {
  @extend %list;
  padding: 0 1.5rem;
}
.menu__item--icon {
  fill: $primary-text-colour;
  width: 1rem;
  height: 1rem;
  &:hover {
    fill: $primary-yellow-colour;
  }
}
.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-family: $title-font;
  color: $primary-text-colour;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    color: $primary-yellow-colour;
  }
  &::after {
    content: '';
    border-bottom: 4px solid $primary-yellow-colour;
    width: 0%;
    display: block;
    margin-top: 14px;
  }
  &:hover::after {
    width: 100%;
  }
}
