.teams__card {
    position: relative;
    
    &:hover .teams__pad {
      opacity: 0.9;
    }
    &:hover .teams__pad--icons {
      opacity: 1;
    }
  }
  .teams__pad {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef8a8a), to(#e7d082));
    background-image: -webkit-linear-gradient($start-gradient-colour, $end-gradient-colour);
    background-image: -o-linear-gradient($start-gradient-colour, $end-gradient-colour);
    background-image: linear-gradient($start-gradient-colour, $end-gradient-colour);
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0;
  }
  .teams__pad--icons {
    position: absolute;
    top: 208px;
    left: 70px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  