.text-submint {
    width: 230px;
    height: 40px;
    border: 1px solid $primary-light-colour;
    font-size: 15px;
    font-family: $title-text-font;
    color: $secondary-light-colour;
    text-align: left;
  }