.btn-submint {
    width: 150px;
    height: 44px;
    font-size: 14px;
    font-family: "Montserrat";
    color: $primary-text-colour;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: $primary-bgnd-colour;
    cursor: pointer;
  }