.button {
    text-align: center;
  }
  .button__info {
    cursor: pointer;
    width: 160px;
    height: 40px;
    background: transparent;
    border: 4px solid $primary-text-colour;
    font-size: 14px;
    font-family: "Montserrat";
    color: $primary-text-colour;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }