.hero-block {
    margin: auto;
    margin-bottom: 7rem;
  }
  .hero-block__subtitle {
    font-size: 72px;
    font-family: "Kaushan Script";
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
  }
  .hero-block__title {
    font-size: 150px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 68%;
  }