.teams__icon {
    cursor: pointer;
    fill: #f38181;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1rem;
    background-color: #fce38a;
    border: none;
    margin-left: -3px;
  }
  .teams__icon:hover {
    fill: #fff;
    background-color: #f38181;
  }