.teams__icon {
    cursor: pointer;
    fill: $primary-red-colour;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1rem;
    background-color: $primary-yellow-colour;
    border: none;
    margin-left: -3px;
    &:hover {
      fill: $primary-text-colour;
      background-color: $primary-red-colour;
    }
  }