.text-submint {
    width: 230px;
    height: 40px;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    text-align: left;
  }