.containter--fluid {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.container--header {
  height: 1000px;
}
.container--header {
  padding-top: 2rem;
}
.menu__line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 13rem;
}
.logo {
  display: flex;

  cursor: pointer;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  padding: 0 1.5rem;
  list-style: none;
}
.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}
.menu__link:hover {
  color: #fce38a;
}
.menu__link::after {
  content: "";
  border-bottom: 4px solid #fce38a;
  width: 0%;
  display: block;
  margin-top: 14px;
}
.menu__link:hover::after {
  width: 100%;
}
.header-block {
  margin: auto;
  margin-bottom: 7rem;
}
.header-block__subtitle {
  font-size: 72px;
  font-family: "KaushanScript";
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}
.header-block__title {
  font-size: 150px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  width: 68%;
}
.button {
  text-align: center;
}
.button__info {
  cursor: pointer;
  width: 160px;
  height: 40px;
  background: transparent;
  border: 4px solid #fff;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.content__subtitle {
  font-size: 24px;
  font-family: "KaushanScript";
  color: rgb(51, 51, 51);
  text-align: center;
}
.content__title {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.content__title::after {
  content: "";
  border-bottom: 4px solid #f38181;
  width: 4rem;
  margin: auto;
  display: block;
  margin-top: 44px;
}
.services-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
.card{
  width: 30%;
  margin: 0 1rem;
}
.card__link{
  display: flex;
 justify-content: space-around;
  align-items: flex-start;
  text-decoration: none;
}
.card__img{
  padding: 0 1rem;
  width: 32px;
}
.card__title{
  margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-align: left;
}
.text{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    text-align: left;
}
.text--center{
  text-align: center;
}