.containter--fluid {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .containter--fluid {
    background-image: url(../img/background@2x.jpg);
  }
}
.container {
  max-width: 1200px;
  margin: auto;
}
.container--header {
  height: 1000px;
}
.container--header {
  padding-top: 2rem;
}
.menu__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 13rem;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  cursor: pointer;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  padding: 0 1.5rem;
  list-style: none;
}
.menu__item--icon {
  fill: #fff;
  width: 1rem;
  height: 1rem;
}
.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}
.menu__link:hover {
  color: #fce38a;
}
.menu__item--icon:hover {
  fill: #fce38a;
}
.menu__link::after {
  content: "";
  border-bottom: 4px solid #fce38a;
  width: 0%;
  display: block;
  margin-top: 14px;
}
.menu__link:hover::after {
  width: 100%;
}
.header-block {
  margin: auto;
  margin-bottom: 7rem;
}
.header-block__subtitle {
  font-size: 72px;
  font-family: "Kaushan Script";
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}
.header-block__title {
  font-size: 150px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  width: 68%;
}
.button {
  text-align: center;
}
.button__info {
  cursor: pointer;
  width: 160px;
  height: 40px;
  background: transparent;
  border: 4px solid #fff;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.content__subtitle {
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  text-align: center;
}
.content__title {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.content__title::after {
  content: "";
  border-bottom: 4px solid #f38181;
  width: 4rem;
  margin: auto;
  display: block;
  margin-top: 44px;
}
.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.card {
  width: 30%;
  margin: 0 1rem;
}
.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
}
.card__img {
  padding: 0 1rem;
  width: 32px;
}
.card__title {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  text-align: left;
}
.text {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  text-align: left;
}
.text--center {
  text-align: center;
  margin-bottom: 100px;
}
.teams-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.teams__card {
  position: relative;
}

.teams__pad {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 380px;
  height: 470px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef8a8a), to(#e7d082));
  background-image: -webkit-linear-gradient(#ef8a8a, #e7d082);
  background-image: -o-linear-gradient(#ef8a8a, #e7d082);
  background-image: linear-gradient(#ef8a8a, #e7d082);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
.teams__pad--icons {
  position: absolute;
  top: 208px;
  left: 70px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.teams__card:hover .teams__pad {
  opacity: 0.9;
}
.teams__card:hover .teams__pad--icons {
  opacity: 1;
}
.teams__link {
  text-decoration: none;
}
.teams__icon {
  cursor: pointer;
  fill: #f38181;
  height: 1.5rem;
  width: 1.5rem;
  padding: 1rem;
  background-color: #fce38a;
  border: none;
  margin-left: -3px;
}
.teams__icon:hover {
  fill: #fff;
  background-color: #f38181;
}
.teams__name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  text-align: center;
}
.teams__profile {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  text-align: center;
}
.container--footer {
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}
.text-submint {
  width: 230px;
  height: 40px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(204, 204, 204);
  font-style: italic;
  text-align: left;
}
.btn-submint {
  width: 150px;
  height: 44px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #95e1d3;
  cursor: pointer;
}